extends ./layouts/common.pug
block content  
    h1 List Name
    form.d-flex(action="/listname/search",method="GET")
        input.form-control(type="text",name="q")
        button(class="btn btn-primary ml-2") Search

    table.table
        tr
            th Name
            th Phone
            th Actions
        each name in names 
            tr
                td=name.name
                td=name.phone
                td 
                    a(href="/listname/" + name.id)     View
    a.btn.btn-primary(href="/listname/create") Create a new name