extends ../layouts/common.pug
block content
    h1 Click link to page Name
    .d-flex
        a(href="/name",class="btn btn-primary mr-4") Page Name
        a.btn.btn-primary(href="/listname") List Name